<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.litech.$(PRODUCT_NAME:rfc1034identifier)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>A-OTF 見出ゴMB1 Std DeBold.otf</string>
		<string>A-OTF-A1明朝Std-Bold.otf</string>
		<string>やさしさゴシック.ttf</string>
		<string>rounded-mplus-1p-thin.ttf</string>
		<string>おめかし.ttf</string>
		<string>A=OTF-FolkPro-Medium.otf</string>
		<string>えるまー.ttf</string>
		<string>A-OTF-FutoGoB101Pro-Bold.otf</string>
		<string>A-OTF-FutoMinA101Pro-Medium.otf</string>
		<string>A-OTF-GothicMB101Pro-Medium.otf</string>
		<string>A-OTF-HaruGakuStd-Light.otf</string>
		<string>A-OTF-Jum501Pro-Bold_0.otf</string>
		<string>A-OTF-MaruFoPro-Regular.otf</string>
		<string>A-OTF-RyuminPro-Regular.otf</string>
		<string>A-OTF-UDShinGoPro-Regular.otf</string>
		<string>A-OTF-UDShinMGoPto-Regular.otf</string>
		<string>cinecaption226.otf</string>
		<string>ＤＣＰひげ文字W5</string>
		<string>DF-KinBun-W3.ttc</string>
		<string>Hannari.otf</string>
		<string>KozGoPro-Regular.otf</string>
		<string>KozMinPro-Regular.otf</string>
		<string>UtsukushiFONT.otf</string>
		<string>A-OTF-KyokaICAPro-Medium_0.otf</string>
		<string>uzura.ttf</string>
		<string>ヒラギノ角ゴ Std W6.otf</string>
		<string></string>
		<string></string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
